#mapWrapper {
  max-width: 400px;
  margin: 1rem auto;
}



svg {
  stroke: #000;
}

svg path {
  fill: #a82b2b;
  cursor: pointer;
  outline: none;
  transition: 0.2s all ease-in-out;
}
svg path:hover {
  fill: rgba(168,43,43,0.83);
}
/*  svg path{
    

    // All layers are just path elements
    path {
      

      // When a layer is hovered
      &:hover {
        fill: rgba(168,43,43,0.83);
      }

      // When a layer is focused.
      &:focus {
        fill: rgba(168,43,43,0.6);
      }

      // When a layer is 'checked' (via checkedLayers prop).
      &[aria-checked='true'] {
        fill: rgba(56,43,168,1);
      }

      // When a layer is 'selected' (via currentLayers prop).
      &[aria-current='true'] {
        fill: rgba(56,43,168,0.83);
      }

      // You can also highlight a specific layer via it's id
      &[id="nz-can"] {
        fill: rgba(56,43,168,0.6);
      }
    }
  }*/