*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: 'monserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 35px 0;
}

.mt-10 {
  margin-top: 10px;
}

.online-text {
  color: #2dce89;
}

.offline-text {
  color: #db3630;
}